RewriteEngine On

# Redirecionar todas as requisições para index.php com o parâmetro route
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]

# Definir tipo de conteúdo para JSON
<FilesMatch "\.json$">
    Header set Content-Type "application/json"
</FilesMatch>

# Configuração para métodos HTTP
<Files "index.php">
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
</Files>
